html, body
{
	height: 100%;
}
	
.border
{
	margin: 0px;
	padding: 50px;
	background: white;
	font-family: 'Varela', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: black;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #2B3F48;
}

.imageitem {
	padding: 5;
}

.redText {
	color: red;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

